@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
:root {
    --primaryBlue : #4a8a94;
    --secondaryBlue: #baf0fb;
    --font-family-title: 'Anton', sans-serif;
    --font-family-text: 'Roboto', sans-serif;
    --light : #fff;
    --spacing: 8px;
    --font-size-text: 14pt;
    --font-weight : 100;
    --font-family: 'Russo One', sans-serif;
}
  

* {
    margin: 0px;
    box-sizing: border-box;
}

.topnav {
    background-color: transparent;
    overflow: hidden;
    opacity: 0.5;
}

.topnav a {
    float: left;
    color: var(--secondaryBlue);
    text-align: center;
    padding: 12px 12px 12px 16px;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    font-family: var(--font-family-text);
    font-weight: 300;
}

.topnav a:hover {
    background-color:var(--secondaryBlue);
    color: black;
}

.topnav a.active {
    background-color:var(--secondaryBlue);
    color: black;
}


body {
    background-image: url(background0.jpg);
    color: var(--secondaryBlue);
    background-size: cover;
    background-attachment: fixed;

}

footer {
    background-color:var(--secondaryBlue);
    opacity: 0.5;
}

.navfooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#starkindustry{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    height: 30px;
    width: auto;
}

.items {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

#logoRS{
    width: 20px;
    height: 20px;
    margin: var(--spacing);
}

.logofacebook{
    width: auto;
    height: 20px;
    margin: var(--spacing);
}

.skills {
    margin-bottom: 50px;
}

.skillsProgress {
    margin: var(--spacing);
}

/**#principalSkills {
    padding: 60px;
}**/

#principalSkills h1.title {
    margin-bottom: 50px;
}

h1 {
    font-family: var(--font-family-title);
    font-size: 38pt;
    color: var(--secondaryBlue);
    padding-left: 10px;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    /**font-family: var(--font-family-title);
    font-size: 38pt;
    margin: var(--spacing);

}
h1.title {
    text-transform: uppercase;
    color: var(--secondaryBlue);
    display: flex;
    justify-content: center;**/
}

div {
    display: block;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    font-family: var(--font-family-title);
    font-size: 28pt;
    margin: var(--spacing);
    color: var(--secondaryBlue);
    margin-bottom: 100px;
    opacity: 0.5;
}

.skill-unique {
    width: 100%;
    display: grid;
    margin-bottom: 25px;
    padding: 10px;
}

.skill-title {
    width: auto;
    float: left;
    color: var(--light);
    font-size: 20pt;
    font-family: var(--font-family-text);
    font-weight: var(--font-weight);
}

.progress {
    width: 700px;
    margin-top: .3rem;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    border-radius: .25rem;
}

element.style {
    width: 100%;
}


@keyframes auto-progress {
  0% {
    width: 0%;
  }


  100% {
    width: 100%;
  }
}

.progress-bar {
    background-color: #1a1a1a;
    height: 20px;
    width: 700px;
    margin: 50px auto;
    border-radius: 5px;
}

.progress-bar-inner {
  display: block;
  height: 20px;
  width: 100%;
  background-color: var(--primaryBlue);
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
  position: relative;
  animation: auto-progress 7s ease;
  text-align: right;
  color: black;
  font-size: var(--font-family-text);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
}

.topnav .icon {
    display: none;
}

.burger {
    width: 35px;
    height: 5px;
    background-color: var(--secondaryBlue);
    margin: 4px 0;
}

@media screen and (max-width:500px){
    
    
    div {
        display: block;

    }
    body {
        background-image: url(background0.jpg);
        color: var(--secondaryBlue);
        background-size: cover;
        background-attachment: fixed;
    }
    
    #principalSkills {
        padding: 0px;
    }
    
    .progress-bar {
        background-color: #1a1a1a;
        height: 20px;
        width: 100%;
        margin: 50px auto;
        border-radius: 5px;
    }
    
    .skill-title {
        display: flex;
        justify-items: center;
    }
    * {
        margin: 0px;
    }
    .navfooter {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:740px){
    
    
    div {
        display: block;

    }
    body {
        background-image: url(background0.jpg);
        color: var(--secondaryBlue);
        background-size: cover;
        background-attachment: fixed;
    }
    
    #principalSkills {
        padding: 0px;
    }
    
    .progress-bar {
        background-color: #1a1a1a;
        height: 20px;
        width: 100%;
        margin: 50px auto;
        border-radius: 5px;
    }
    
    .skill-title {
        display: flex;
        justify-items: center;
    }
    * {
        margin: 0px;
    }
    .navfooter {
        display: flex;
        justify-content: center;
    }
}



@media screen and (max-width:600px){

.topnavindex{
      display: none;
    }
      .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a:hover {
        background-color: transparent;
      }

    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
      position: relative;
    }

    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      color: var(--secondaryBlue);

    }
    .topnav a.active {
      background-color: transparent;
      color: var(--secondaryBlue);
    }

}